@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: 0px;
    height: 200px;
    box-shadow: 5px 5px 15px black;

}
.header-container h1{
    width: 100%;
    padding-top: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #470653;
    overflow: fixed;
}
.header-container p{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
    text-align: center;
    width: 100% ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.main-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 600px;
    margin-top: 30px;
}
.main-container .form-container{
    flex: 48%;
    margin-left: 2%;
    text-align: left;
}
.main-container .form-container form{
    margin-right: 10%;
    margin-left: 20%;
    padding: 5%;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #470653, black);
    color: white;
    width: 50%;
    box-shadow: 8px 8px 15px black;
}
#titulo2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
.main-container .img-container{
    flex: 48%;
    margin-right: 2%;
    text-align: center;
}
.main-container .img-container img{
    width: 80%;
}
.section-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 150px;
}
.section-container .content1{
    flex: 30%;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    height: 400px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(180deg, #470653, black);
    color: white;
    box-shadow: 8px 8px 15px black;
}
.section-container .content2{
    flex:30%;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    height: 400px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(180deg, #470653, black);
    color: white;
    box-shadow: 8px 8px 15px black;
}
.section-container .content3{
    flex:30%;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    height: 400px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(180deg, #470653, black);
    color: white;
    box-shadow: 8px 8px 15px black;
}
.section-container h2{
    flex: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background-image: linear-gradient(45deg, #470653, black);
    color: white;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    box-shadow: 8px 8px 15px black;
}
.rodape-container{
    display: inline-block;
    width: 100%;
    height: 300px;
    /* border: solid 1px black; */
    margin-top: 200px;
    background-image: linear-gradient(180deg, #470653, black);
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px 8px black;
}
.rodape-container h1{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

